<topiclist>
    <span>主题: <input ref="topic" type="text"/></span>
    <span>开始时间: <input ref="begin" type="date"/></span>
    <span>结束时间: <input ref="end" type="date" value=""/></span>
    <button onclick={ submit }>查询</button>

    <ul>
        <li each={ item, i in items }>{ i+1 } -- { item.v } -- { item.stat.ctime }</li>
    </ul>

    <!-- style -->
    <style>
        h3 {
            font-size: 14px;
        }
    </style>

    <!-- logic -->
    <!--suppress JSAnnotator -->
    <script>
        var tag = this;
        tag.items = []
        submit(e)
        {
            e.preventDefault();
            var topic = tag.refs.topic.value;
            var begin = tag.refs.begin.value;
            var end = tag.refs.end.value;
            if (topic == "" || begin == "" || end == "") return;
            var pageNumber = 1;
            var pageSize = 20;
            var queryUrl = "/topic/q";
            var params = {"topic": topic, "begin": begin, "end": end, "pageNumber": pageNumber, "pageSize": pageSize};

            $.get(queryUrl, params, function (data) {
                if (data != null) {
                    console.log(data.items);
                    tag.items = data.items;
                    tag.update();
                }
            });
            tag.refs.topic = topic;
            tag.refs.begin = begin;
            tag.refs.end = end;
        }

    </script>
</topiclist>